body {
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 50px;  
    background: url(https://www.maxpixel.net/static/photo/2x/Drone-Sea-Blue-Birds-Eye-View-Ship-Beach-1897129.jpg);
    background-color: #68C2E5;
    background-blend-mode: screen;
    border: thick solid #3D013C;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #60487F;
}

.odds {
    color: #3D013C;
}

.evens {
    margin: 0 0 0 100px;    
}