/*Cite: background code learned from CSS-Tricks*/
body {
  font-family: Georgia, Times, serif;
  border: thick solid #3D013C;
  margin: 30px 50px;  
  padding: 50px;
  background: url(https://www.maxpixel.net/static/photo/2x/Drone-Sea-Blue-Birds-Eye-View-Ship-Beach-1897129.jpg);
  background-color: #68C2E5;
  background-blend-mode: screen;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #60487F;
}

.places {
  font-family: Arial, Helvetica, sans-serif
}
